# Project 9: Web Scraping, APIs & Wrappers (US Stocks)

## Web Scraping - the Dow Jones Constituents

In [1]:
import pandas as pd

In [3]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [4]:
const

,Company,Exchange,Symbol,Industry,Date Added,Notes,"Index Weighting (Apr 30, 2020)"
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09,as Minnesota Mining and Manufacturing,4.35%
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,NaN,2.68%
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,8.01%
3,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,NaN,3.87%
4,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,NaN,3.34%
5,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,also 1930-07-18 to 1999-11-01,2.63%
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.21%
7,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,also 1932-05-26 to 1935-11-20,1.31%
8,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,NaN,1.04%
9,ExxonMobil,NYSE,NYSE: XOM,Petroleum industry,1928-10-01,as Standard Oil of New Jersey,1.32%
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,NaN,5.29%
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,NaN,6.17%
12,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,also 1932-05-26 to 1939-03-04,3.58%
13,Intel,NASDAQ,INTC,Information technology,1999-11-01,NaN,1.72%
14,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,NaN,4.18%
15,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,NaN,2.72%
16,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,NaN,5.23%
17,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,NaN,2.25%
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.94%
19,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NaN,2.45%
20,Pfizer,NYSE,NYSE: PFE,Pharmaceutical industry,2004-04-08,NaN,1.06%
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,NaN,3.26%
22,Raytheon Technologies,NYSE,NYSE: RTX,Aerospace and defense,1939-03-14,"as United Aircraft, later transformed into Uni...",1.89%
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,NaN,2.95%
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,NaN,8.01%
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,NaN,1.62%
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,NaN,5.06%
27,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,NaN,3.44%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,1.26%
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,NaN,3.12%

In [5]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date Added
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19
3,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12
4,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06
5,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08
7,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12
8,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02
9,ExxonMobil,NYSE,NYSE: XOM,Petroleum industry,1928-10-01
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01
12,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29
13,Intel,NASDAQ,INTC,Information technology,1999-11-01
14,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17
15,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06
16,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30
17,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
19,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20
20,Pfizer,NYSE,NYSE: PFE,Pharmaceutical industry,2004-04-08
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26
22,Raytheon Technologies,NYSE,NYSE: RTX,Aerospace and defense,1939-03-14
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20
27,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06

In [6]:
const.rename(columns = {"Date Added":"Date_Added"}, inplace = True)

In [7]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [8]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [9]:
import unicodedata

In [11]:
const.Symbol[0]

'NYSE:\xa0MMM'

In [ ]:
const.Symbol.to_list()

In [ ]:
const.info()

In [12]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0     NYSE: MMM
1     NYSE: AXP
2          AAPL
3      NYSE: BA
4     NYSE: CAT
5     NYSE: CVX
6          CSCO
7      NYSE: KO
8     NYSE: DOW
9     NYSE: XOM
10     NYSE: GS
11     NYSE: HD
12    NYSE: IBM
13         INTC
14    NYSE: JNJ
15    NYSE: JPM
16    NYSE: MCD
17    NYSE: MRK
18         MSFT
19    NYSE: NKE
20    NYSE: PFE
21     NYSE: PG
22    NYSE: RTX
23    NYSE: TRV
24    NYSE: UNH
25     NYSE: VZ
26      NYSE: V
27    NYSE: WMT
28          WBA
29    NYSE: DIS
Name: Symbol, dtype: object

In [13]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [14]:
const.Symbol[0]

'NYSE: MMM'

In [15]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [16]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,AXP
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
3,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,BA
4,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,CAT
5,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,CVX
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
7,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,KO
8,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,DOW
9,ExxonMobil,NYSE,NYSE: XOM,Petroleum industry,1928-10-01,XOM
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,GS
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,HD
12,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,IBM
13,Intel,NASDAQ,INTC,Information technology,1999-11-01,INTC
14,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,JNJ
15,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,JPM
16,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,MCD
17,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,MRK
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
19,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NKE
20,Pfizer,NYSE,NYSE: PFE,Pharmaceutical industry,2004-04-08,PFE
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,PG
22,Raytheon Technologies,NYSE,NYSE: RTX,Aerospace and defense,1939-03-14,RTX
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,TRV
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,UNH
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,VZ
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,V
27,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,WMT
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,DIS

In [17]:
ticker_list = const.Ticker.to_list()

In [18]:
ticker_list

['MMM',
 'AXP',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'XOM',
 'GS',
 'HD',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PFE',
 'PG',
 'RTX',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT',
 'WBA',
 'DIS']

In [21]:
const.to_csv("data/const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [23]:
import pandas as pd
import yfinance as yf

In [25]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%***********************]  30 of 30 completed

In [26]:
prices

             Adj Close                                                \
                  AAPL        AXP          BA         CAT       CSCO
Date
2007-01-03   10.363638  48.571335   63.912048   41.103786  21.264582
2007-01-04   10.593664  48.217274   64.170052   40.996235  21.824373
2007-01-05   10.518225  47.581562   63.897701   40.472031  21.832045
2007-01-08   10.570165  48.032188   63.747196   40.519085  21.954746
2007-01-09   11.448232  47.726418   63.073460   40.740875  21.832045
...                ...        ...         ...         ...        ...
2020-03-24  246.213516  83.585701  127.680000  100.418076  38.237461
2020-03-25  244.857178  89.671883  158.729996  103.717781  37.316196
2020-03-26  257.742310  92.774651  180.550003  109.494743  40.198868
2020-03-27  247.071182  88.239845  162.000000  104.480782  38.455399
2020-03-30  254.122101  89.771332  152.279999  110.693733  39.941307

                                                                      ...  \
                  CVX         DIS        DOW          GS          HD  ...
Date                                                                  ...
2007-01-03  43.275341   28.317101        NaN  167.895935   28.943148  ...
2007-01-04  42.854595   28.540649        NaN  166.331772   28.590784  ...
2007-01-05  43.019238   28.308815        NaN  166.499084   28.041100  ...
2007-01-08  43.568027   28.565489        NaN  170.413727   27.829685  ...
2007-01-09  43.068012   28.524090        NaN  170.706497   27.709879  ...
...               ...         ...        ...         ...         ...  ...
2020-03-24  65.587135   98.120003  27.969522  152.645828  183.623566  ...
2020-03-25  68.267769  100.730003  29.845947  154.166321  180.681122  ...
2020-03-26  75.274902  105.360001  29.158253  164.760086  194.051300  ...
2020-03-27  67.784866   96.400002  28.057941  157.356369  189.418961  ...
2020-03-30  70.908997   99.800003  28.146358  158.628418  194.936020  ...

                Volume                                                 \
                   PFE          PG         RTX        TRV         UNH
Date
2007-01-03  40644800.0   9717900.0   7602400.0  3432800.0   8360300.0
2007-01-04  32246200.0   8711400.0   7830900.0  2068200.0   5152500.0
2007-01-05  31353500.0   9907900.0   6918900.0  2104600.0   6215700.0
2007-01-08  43223500.0  11068200.0   5318700.0  2440900.0   4344100.0
2007-01-09  31304200.0  10823800.0   7190200.0  1319500.0   5483900.0
...                ...         ...         ...        ...         ...
2020-03-24  42188600.0  14625500.0  20411000.0  4293300.0   8894400.0
2020-03-25  42316200.0  13789100.0  19096100.0  4151400.0  10014000.0
2020-03-26  41053100.0  15796000.0  23079500.0  4610600.0   7517600.0
2020-03-27  36328600.0  16073100.0  16126400.0  3085400.0   4879500.0
2020-03-30  28409400.0  14571600.0  12019800.0  2733700.0   5329000.0


                     V          VZ         WBA         WMT         XOM
Date
2007-01-03         NaN  21445800.0   6294500.0  35687300.0  30510700.0
2007-01-04         NaN  19215800.0   3681800.0  17073000.0  31046600.0
2007-01-05         NaN  19047000.0   3680900.0  13556900.0  24671500.0
2007-01-08         NaN  20370800.0   4720800.0  16396400.0  25981900.0
2007-01-09         NaN  16281300.0   3792500.0  14643200.0  27039900.0
...                ...         ...         ...         ...         ...
2020-03-24  24488300.0  40626900.0   9638400.0  14235000.0  61835600.0
2020-03-25  20619600.0  38551300.0  11040500.0  17762500.0  56607700.0
2020-03-26  17062900.0  32610900.0  11095700.0  19416900.0  46722000.0
2020-03-27  14950700.0  25363600.0   5898000.0  12053500.0  51558600.0
2020-03-30  15714500.0  20660200.0   7114900.0   9737500.0  45835000.0

[3334 rows x 180 columns]

In [ ]:
prices.info()

In [27]:
prices = prices.loc[:,"Close"].copy()

In [28]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3334 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AXP     3333 non-null   float64
 2   BA      3333 non-null   float64
 3   CAT     3333 non-null   float64
 4   CSCO    3333 non-null   float64
 5   CVX     3333 non-null   float64
 6   DIS     3333 non-null   float64
 7   DOW     260 non-null    float64
 8   GS      3333 non-null   float64
 9   HD      3333 non-null   float64
 10  IBM     3333 non-null   float64
 11  INTC    3333 non-null   float64
 12  JNJ     3333 non-null   float64
 13  JPM     3333 non-null   float64
 14  KO      3333 non-null   float64
 15  MCD     3333 non-null   float64
 16  MMM     3333 non-null   float64
 17  MRK     3333 non-null   float64
 18  MSFT    3333 non-null   float64
 19  NKE     3333 non-null   float64
 20  PFE     3333 non-null   float64
 21  PG      3333 non-null   float64
 22  RTX     3333 non-null   float64
 23  TRV     3333 non-null   float64
 24  UNH     3333 non-null   float64
 25  V       3029 non-null   float64
 26  VZ      3333 non-null   float64
 27  WBA     3333 non-null   float64
 28  WMT     3333 non-null   float64
 29  XOM     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.5 KB

In [ ]:
prices

In [29]:
prices.to_csv("data/const_prices.csv")

In [30]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31")

[*********************100%***********************]  1 of 1 completed

In [31]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [32]:
dji.to_csv("data/dji.csv")